@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@500&display=swap');

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: start;
}

.justify-content-end {
    justify-content: end;
}

.input-group {
    width: 100%;
    display: inline-flex;
}

.container {
    padding-top: 50px;
    display: grid;
    justify-content: center;
}